
h2{
    color: steelblue;
}

.borde{
    border: 1px solid black;
}

#section{
    border: 1px solid black;
}

.titulo{
    text-align: center;
}

.😁{
    color: darkblue;
}

.😂{
    border: 1px solid black;
    font-size: 20px;
}

[href]{
    text-decoration: none;
}

[href="https://alexcgdesign.com/inicio"]{
    color: darkred;
}
/* indica que va aplicar el estilo que inicia con hsttps */
[href^="hsttps"]{
    color: darkolivegreen;
}

/* indica que va aplicar el estilo que termina con org */
[href$="org"]{
    background: steelblue;
    color: white;
}

/* indica que va aplicar el estilo a cualquier elemento con alexcgdesign */
[href*="alexcgdesign"]{
    background: darksalmon;
}